body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.item-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 30px;

}

.item {

  background-color: white;

}

.item-price, .item-name {
  padding-left: 15px;
}

.item-details {
  display: flex;
  justify-content: space-between;

}

.cart-icon {
  margin-left: 90vw;
}

.order-item-list {
   
margin : 25px;

}

.customer-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.payment-checkout {
  padding: 40px;
  background-color: white;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* margin: 20px; */
  align-items: center;
}

.item-pay{
  display: flex;
  
  gap: 40px;
}

.item-payable{
  width: 180px;
}

